.img {
    width: 100%;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.img:hover {
    transition: 0.5s;
    transform: scale(1.1);

    /* border: 1px solid #000; */
}

figure {
    position: relative;
    z-index: 0;
    margin: 0;
    overflow: hidden;
    /* background: rgba(1, 4, 13, 0.893);; */
}